// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #c26437;
$secondary: #3795c2;
$accent: #6437c2;

$dark: #1d1d1d;

$positive: #37c264;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$pink-1: #c23750;

$laptop: 1600px;
$tablet: 1024px;
$phone: 720px;
